.scend-outer-container {

    height: 100%;
    width: 100%;
    background-color: transparent;

    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}

.scend-inner-container {

    height: 80%;
    width: 80%;
    background-color: transparent;

    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}

.scend-inner-left-container {
    height: 100%;
    width: 100%;
    background-color: transparent;
    position: relative;


}

.scend-inner-left-centered-container {
    height: 50%;
    width: 85%;
    background-color: transparent;
    position: relative;

    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.scend-title {
    font-family: "Helvetica Neue";
    font-size: 130px;
    font-style: italic;
    font-variant: normal;
    font-weight: 900;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    /* // gradient */
    background-color: black;
    /* background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-size: cover;
    background-image: url('https://images.unsplash.com/photo-1557682224-5b8590cd9ec5?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=800&fit=max&ixid=eyJhcHBfaWQiOjF9'); */
}

.scend-details {
    font-family: "Helvetica Neue";
    font-size: 27px;
    font-style:normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 35px;
    color: white;

    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;

    /* // position: relative; */
    margin-top: -80px;
    /* background: inherit; */
    /* background-clip: text; */
    /* color: transparent; */
    background-color: black;


}

.scend-details a {
    font-family: "Helvetica Neue";
    font-size: 27px;
    font-style: italic;
    font-variant: normal;
    font-weight: 500;
    line-height: 35px;
    color: 79FFE1;
}


/* dowimrfoimeriofmeormfioer */

